@model LancheListViewModel

<div><h2>@Model.CategoriaAtual</h2></div>

@foreach (var lanche in Model.Lanches)
{
    @*@Html.Partial("_LanchesResumo", lanche); versão 2.0*@
    <partial name="_Lanchesresumo" for="@lanche"/> 
}