@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{
    <a class="nav-link text-light" asp-controller="CarrinhoCompra">
        <span><img src="~/images/cart-5-16.png" /></span>
        <span style="color:white"> @Model.CarrinhoCompra.CarrinhoCompraItens.Count </span>
    </a>
}